<h1>Detalhes da Venda</h1>

<div *ngIf="isLoading">Carregando...</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div *ngIf="sale">
  <h2>Venda: {{ sale.saleNumber }}</h2>
  <p><strong>Data:</strong> {{ sale.saleDate | date }}</p>
  <p><strong>Cliente:</strong> {{ sale.customerName }}</p>
  <p><strong>Filial:</strong> {{ sale.branch }}</p>
  <p><strong>Cancelada:</strong> {{ sale.isCancelled ? 'Sim' : 'Não' }}</p>
  <p><strong>Total:</strong> R$ {{ sale.totalAmount | number: '1.2-2' }}</p>
  <p><strong>Criada em:</strong> {{ sale.createdAt | date:'short' }}</p>
  <p *ngIf="sale.updatedAt"><strong>Atualizada em:</strong> {{ sale.updatedAt | date:'short' }}</p>

  <hr />
  <h3>Itens</h3>
  <ul>
    <li *ngFor="let item of sale.items">
      <strong>{{ item.productDetails.title }}</strong>
      <br />
      Quantidade: {{ item.quantity }},
      Preço: R$ {{ item.unitPrice }},
      Desconto: {{ item.discount }}%,
      Total: R$ {{ item.totalAmount }},
      <br />
      Produto: {{ item.productDetails.description }},
      Categoria: {{ item.productDetails.category }},
      Avaliação: {{ item.productDetails.rating.rate }} ({{ item.productDetails.rating.count }} votos)
    </li>
  </ul>
</div>