<div [formGroup]="item">
    <div>
      <label>Produto (ID):</label>
      <input formControlName="productId" />
    </div>
  
    <div>
      <label>Quantidade:</label>
      <input
        type="number"
        formControlName="quantity"
      />
    </div>
  
    <fieldset formGroupName="productDetails">
      <div>
        <label>Nome:</label>
        <input formControlName="title" />
      </div>
  
      <div>
        <label>Categoria:</label>
        <input formControlName="category" />
      </div>
  
      <div>
        <label>Preço:</label>
        <input type="number" formControlName="price" />
      </div>
  
      <div>
        <label>Imagem:</label>
        <input formControlName="image" />
      </div>
    </fieldset>
  
    <button type="button" (click)="remove.emit(index)">Remover Item</button>
  </div>
  